h1 {
  font-size: 2.4em;
  margin-top: 5vh;
  padding-right: 28px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.search-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  margin-top: 5vh;
}

.search{
  width: 60%;
}

.grid-container {
  margin: 10vh 40px 0 40px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
   
  
}

.item{
  
  margin: auto;
  
  
}

.grid{
  display: flex;
  justify-content: end;
  min-height: 50vh;
  
  flex-direction: column  ;
}

body{ 
  background-image: url('./img/mapa.jpg');
  background-repeat: no-repeat;
  background-size: cover;}

.campeon-details {
  margin-top: 20vh;
  margin-left: 2vw;
  margin-right: 2vw;
  box-sizing: border-box;
  border-radius: 5px;
}

.campeon-details .card{
min-height: 18vh;
padding-left:20px;
padding-top:20px;
padding-bottom:25px;
border: 1px solid #ccc;

  
}

.campeon-details .cardBarras{
  all: unset;
  padding-left:20px;
  padding-top:20px;
  padding-bottom:25px;
  
    
  }

.campeon-details h3 {
  font-size: 2.2em;
  margin-bottom: 1px;
  margin-top: 1px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  
}


.campeon-details p {
  margin: 5px 0;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.campeon-details .stats {
  margin: 40px 20px 0 0 ;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: rgba(116, 116, 116, 0.3);
  border-radius: 5px;
  
}

.campeon-details .HP{
  color:white;
  font-size: 1em;
  margin-bottom: 5px;
}

.campeon-details .MANA{
  color:white;
  font-size: 1em;
  margin-bottom: 5px;
}

.campeon-details .barraHP {
  margin: 0px 20px 10px 0 ;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  background-color: grey
}

.campeon-details .barraMANA {
  margin: 0px 20px 10px 0 ;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  background-color: grey
}

.campeon-details .stats p{
  margin: 15px 0px 5px 0px;
  padding: 5px;
  font-size: 1em;
  text-align: center;
}


.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}



.container > .campeon-details {
  flex-basis: 55%;
  position: relative;
}

.container > .campeones-grid {
  flex-basis: 100%;
  position: relative;
  
}

.barraHP{
  background-color: red;
}

.tablero{
  margin: 15vh 0vw 20vh 0vw;
  width: 45vw;
  height: 55vh;
  background-image: url(img/5.png);
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  
}

.dialogo{
  margin: 20vh 0vw 20vh 0vw;
  border: #ccc solid 2px;
  width: 35vw;
  height: 40vh;
  background-color: white;
  padding: 20px;
}